body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background: #ffffff;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo-italica {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #2e2f42;
  text-transform: uppercase;
  padding: 24px 0;
}

.logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  margin-right: 76px;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.address {
  font-style: normal;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-menu-list {
  display: flex;
  gap: 40px;
}

.header-menu-iteam {}

.header-menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
  padding: 24px 0;
  display: block;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link::after {
  background-color: #404bbf;
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  border-radius: 2px;
  width: 100%;
  transform: scaleX(0);
}

.header-menu-link:hover::after {
  transform: scaleX(1);
}

.header-container {
  display: flex;
}

.header-navigation {
  display: flex;
  margin-right: auto;
  align-items: center;
}

.header-address {
  display: flex;
  gap: 40px;
}

.header-address-iteam {}

.header-address-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address-link:hover,
.header-address-link:focus {
  color: #404bbf;
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: #404bbf;
}

.hero {
  padding: 188px 0px;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    url(../images/background.jpg);
  max-width: 1440px;
  background-position: center;
  background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}

.hero-btn {
  letter-spacing: 0.04em;
  line-height: 1.5;
  font-weight: 500;
  background: #4d5ae5;
  color: #fff;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background: #404bbf;
}

.info-list {
  display: flex;
  gap: 24px;
}

.info-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: flex;
  margin-bottom: 8px;
}

.info-iteam {
  width: calc((100% - 72px) / 4);
}

.info {
  padding: 120px 0px;
}

.info-iteam-container {
  border-radius: 4px;
  border: 1px solid;
  padding: 24px 100px;
  width: 264px;
  height: 112px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  border: 1px solid #8e8f99;
  background-color: #f4f4fd;
}

.info-iteam-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.team-iteam {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-icons {
  fill: #f4f4fd;
}

.team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team-bio-iteam {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.team-bio-list {
  width: 40px;
  height: 40px;
  background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-team {
  padding: 32px 0;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-title-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
  padding-bottom: 8px;
}

.team-bio {
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-bio:hover,
.team-bio:focus {
  background-color: #404bbf;
}

.portfolio-title-title {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  border: #ffffff;
  column-gap: 24px;
  row-gap: 48px;
}

.container-portfolio {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-subtetle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.portfolio-text:hover {
  transform: translateY(0%);
}

.portfolio-iteam {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-iteam:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-iteam:hover .portfolio-text-card {
  transform: translateY(0%);
}

.portfolio-conteiner {
  position: relative;
  overflow: hidden;
}

.portfolio-text-card {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.footer {
  background: #2e2f42;
  padding: 100px 0;
}

.logo-footer {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  display: inline-block;
  margin-bottom: 16px;
}

.logo-italica-footer {
  color: #f4f4fd;
}

.footer-subtetle {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  max-width: 96px;
}

.footer-subtetle {
  justify-content: center;
  align-items: center;
}

.container-footer {
  display: flex;
  align-items: baseline;
  container:"";
}

.footer-logo-text {
  margin-right: 120px;
}



.footer-sm-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-list {
  display: flex;
  gap: 16px;
}

.footer-iteam {
  width: 40px;
  height: 40px;
}

.footer-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
  background-color: #31d0aa;
}

.footer-svg {
  fill: #f4f4fd;
}

.footer-sub-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-sub {
  margin-left: 80px;
}

.footer-email-svg{
  fill: #fff;
  margin-left: 16px;
}

.email-form{
  display: flex;
  align-items: center;
  gap: 24px ;
}

.email-footer {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  background-color: transparent;
  margin-right:24px;
  color: #fff;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); 
}

.email-footer::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  padding-left: 16px;
  font-family: "Roboto", sans-serif;
}

.button-footer{
  border-radius: 4px;
  padding: 8px 24px;
  height: 40px; 
  background: #4d5ae5;
  display: flex;
  align-items: center;
  font-size: 16px;
  border: none;
  color: white;
  cursor: pointer;
  gap: 16px;
  min-width: 165px;
  justify-content: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em
}

.button-footer-text{
  font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
text-align: center;
color: #fff;
}

.modal-overlay {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  background-color: #fcfcfc;
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
  box-shadow:0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  width: 408px;
  min-height: 584px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-start{
  
}

.modal-close{
  position: absolute;
  top:24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  fill: #2E2F42;
  padding: 0; 
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.close-modal-svg{
  fill: #2E2F42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}


.modal-close:hover{
  background: #404bbf;
  border: none
}

.modal-close:focus{
  background-color: #404bbf; 
  border: none;
}

.modal-close:hover .close-modal-svg{
  fill: #ffffff;
}

.modal-close:focus .close-modal-svg{
  fill: #ffffff;
}

.modal-policy-text{
  line-height: 1.33333;
text-decoration: underline;
text-decoration-skip-ink: none;
color: #4d5ae5;
}

.modal-title{
  max-width: 360px;
  margin-bottom:16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  
}



.modal-fild{
  margin-bottom:8px;
}

.modal-input{
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color:transparent;
}

.modal-input:focus{
  border-color: #4d5ae5;
}

.modal-input:focus + .modal-icon{
  fill: #4d5ae5;
}

.modal-label{
  display: block;
  margin-bottom:4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-text{
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding:8px 16px;
  outline: transparent;
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text:focus{
  border-color: #4D5AE5;
}

.modal-field-wrap{
  position: relative;
}

.modal-field-textarea{
  margin-bottom: 16px;
}

.modal-field{
  margin-bottom:8px;
}

.modal-check{
  margin-bottom:24px;
}

.modal-icon{
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn{
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  padding: 16px 32px;
  height: 56px;
  margin-top: 24px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  color: #fff;
  min-width: 169px;
  font-weight: 500 ;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.modal-btn:hover{
  background: #404bbf;
}

.modal-check-text{
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  align-items: center;
}

.modal-policy{
  margin-bottom: 24px; 
}


.model-check:checked + .modal-check-text span{
  background-color: #4d5ae5;
  border: none;
  fill: #f4f4fd;
}

.modal-check-span{
  width: 16px;
  height: 16px;
  border-radius: 2px;
  margin-right: 8px;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  border: 1px solid rgba(46, 47, 66, 0.4);
}

.model-check:checked + .modal-check-text > .modal-check-span {
  background-color: #404BBF;
  border: none;
  fill: #f4f4fd;
}

.modal-comment{
  margin-bottom: 16px
}